<div class="single-post">
    <section class="section">
        <h1 class="title">About me</h1>
        <p>Hi evereone, my name is <strong>Maksym Levynets</strong> and i'm a <strong>Front-end Developer</strong></p>
        <p>My current position is <strong>Front-end Developer</strong> in <strong>GlobalLogic</strong> Kharkiv</p>
        <p>All additional information about me, including contacts, you can find in my CV.</p>
        <a href="assets/cv/CV-Maksym-Levynets.pdf" class="btn btn-primary">See my CV (PDF)</a>
    </section>
    <section class="section">
        <h1 class="title">About this site</h1>
        <p>This site was build in purpose to be my <strong>portfolio</strong>.</p>
        <p>Current version based on latest version of Angular - <strong>Angular:</strong> <em>7.0.0</em>, 
          <strong>Angular CLI:</strong> <em>7.0.2</em></p>
        <p>The application includes:</p>
        <ul>
          <li>Angular based UI (Bootsrap for styles)</li>
          <li>Custom node.js server. For now i use just json file as databse, but plan to use MongoDB or MSQL.</li>
          <li>Site admin panel for Add, Edit and Remove post functions, created based on Telegram Bot API</li>
        </ul>
        <p>If you interested of source, you can find it on my GitHub</p>
        <a href="https://github.com/goodpesik/goodpesik.com" target="_blank" class="btn btn-primary">GitHub Repository</a>
    </section>
    <section class="section">
        <h1 class="title">About plans</h1>
        <p>I want to create at least 2 more sites with the same functionality and purpose</p>
        <p>Based on React and VUE.js frameworks</p>
    </section>
    <button class="btn btn-primary" (click)="goBack()">go back</button>
</div>
