.single-post {
    padding: 20px;

    .title {
        font-size: 20px;
        line-height: 24px;
        color: #000;
        text-transform: uppercase;
    }

    .section {
        margin: 0 0 20px;
    }
}